*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Open Sans", sans-serif;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 4.4em;
}
.btn-blue{
    background-color: blue;
    color: white;
    padding: 3px 15px;
}
.header-container{
    width: 100%;
    margin: 0 auto;
    height: 60px;
    color: black;
}
.logo{
    width: 10%;
    padding: 15px;
}
.center-header{
    width: 40%;
    padding: 20px;
}
.right-header{
    width: 40%;
    padding: 18px;
    text-align: right;
}
.menu-header li{
    margin-right: 30px;
}
.jumbotron{
    height: 100vh;
    width: 100%;
    background-color:#b4d0e7 ;


}
.container-jumbo{
    width: 80%;
    margin: auto;
    height: 623px;
    padding: 90px 0px;
}
.clearfix::after{
    content: "";
    display: table;

}
.clmn{
    float: left;
}
.clmn2{
    float: right;
}
.center-header li, .right-header li{
    display: inline-block;
}

.top-jumbotron{
    margin-top: 3px;
    height: 33vh;
}
.left-bot-jumbo{
    width: 30%;
}
.arrow{
    font-size: 3em;
}
.free-trial{
    margin: 1.3em 0;
}
.right-bot-jumbo{
    width: 70%;
}

.business{
    width: 70%;
    margin: auto;
}

.fatturazione{
    display: inline-block;
}

.professional, .standard, .advanced {
    width: 30%;
}

.standard{
    margin: 0 4%;
}